@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  margin-top: 0px;;
}
#top {
padding: 0px;
margin: 0px;
} */
 html {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --imaraPrimary:#0258D8;
    --imaraBlue:#1D4C94;
    --imaraSecondary:#B39B47;
    --imaraNeutral:#6D758F;
    --imaraGray:#E8E8E8;

  }
  .dark {

  }
}
* {
  scroll-behavior: smooth;
}
@layer base {
.container {
  @apply px-4 md:px-8;

}
.btnBlueOutline{
  @apply bg-white text-iBlue hover:text-white px-3 py-2 rounded-sm hover:bg-iBlue border-1 border-iBlue flex gap-2 justify-center max-w-[160px] place-items-center font-avenirBlack
}
.btnWhite {
  @apply bg-white text-iBlue hover:text-white px-3 py-2 rounded-sm hover:bg-iSecondary border-1 border-iBlue flex gap-2 justify-center max-w-[160px] place-items-center font-avenirBlack
}
.myTabs{
  @apply text-xl w-full sm:w-auto mb-1 font-avenirNextBold text-white max-sm:bg-iBlue data-[state=active]:bg-iSecondary sm:data-[state=active]:bg-transparent data-[state=active]:border-b-iBlue sm:border-b-transparent flex-grow sm:border-b-4 sm:rounded-none data-[state=active]:text-white sm:data-[state=active]:text-iBlue max-sm:p-3 sm:text-iNeutral
}
.myPro{
  @apply [&_p]:text-base [&_p]:text-iNeutral [&_p]:font-avenirRoman [&_h1]:text-iBlue [&_h1]:font-avenirNextBold [&_h2]:text-iBlue [&_h2]:font-avenirNextBold [&_h3]:text-iBlue [&_h3]:font-avenirNextBold [&_h4]:text-iBlue [&_h4]:font-avenirNextBold [&_h5]:text-iBlue [&_h5]:font-avenirNextBold [&_h6]:text-iBlue [&_h6]:font-avenirNextBold [&_h1]:text-2xl [&_h2]:text-2xl [&_h3]:text-2xl [&_h4]:text-2xl [&_h5]:text-2xl [&_h6]:text-2xl [&_h1]:mb-4 [&_h2]:mb-4 [&_h3]:mb-4 [&_h4]:mb-4 [&_h5]:mb-4 [&_h6]:mb-4 [&_p]:mb-5
}
}
